:root {
  --bg-color-light: #fff;
  --bg-color-dark: #0A1929FF;
  --text-color-light: #c3d1f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.container {
  display: flex;
}

.aside, .content {
  width: 50%;
}